@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#cabecalho .desktop .navegacao .idioma,
#cabecalho .mobile .mobile-line2 .idioma.Atual{
    display:none
}

#cabecalho {
    width: 100%;
}

#cabecalho .desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eff1f2;
}

#cabecalho .desktop .logomarca {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .navegacao {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .botao-contato {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .logomarca img {
    width: 150px;
    cursor: pointer;
}

#cabecalho .desktop .navegacao {
    width: 80%;
}

#cabecalho .desktop .navegacao ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .navegacao ul li {
    margin: 0 5px;
}

#cabecalho .desktop .navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

#cabecalho .desktop .navegacao ul li a:hover {
    background-color: #f2f7fc;
}

#cabecalho .desktop .navegacao ul li .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

#cabecalho .desktop .navegacao ul li .texto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .navegacao ul li .seta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

#cabecalho .desktop .navegacao ul li .icone img,
#cabecalho .desktop .navegacao ul li .seta img {
    width: 15px;
}

#cabecalho .desktop .navegacao ul li .texto p {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

#cabecalho .desktop .navegacao .idioma a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .desktop .botao-contato a {
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #0064ff;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    background-color: #d5e2f1;
}

#cabecalho .desktop .botao-contato a:hover {
    background-color: #e2edf7;
}

#cabecalho .desktop #idiomas-secundarios,
#cabecalho .desktop #sobre-secundarios,
#cabecalho .desktop #aplicativos-secundarios {
    display: none;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}


/*DESATIVAR AO DESATIVAR O MENU DE IDIOMAS*/
#cabecalho .desktop #idiomas-secundarios {
    position: absolute;
    top: 83px;
    right: 353px;
}

#cabecalho .desktop #sobre-secundarios {
    position: absolute;
    top: 83px;
    right: 670px;
}

#cabecalho .desktop #aplicativos-secundarios {
    position: absolute;
    top: 83px;
    right: 550px;
}*/

/*
ATIVAR AO ATIVAR O MENU DE IDIOMAS
#cabecalho .desktop #idiomas-secundarios {
    position: absolute;
    top: 83px;
    right: 353px;
}

#cabecalho .desktop #sobre-secundarios {
    position: absolute;
    top: 83px;
    right: 745px;
}

#cabecalho .desktop #aplicativos-secundarios {
    position: absolute;
    top: 83px;
    right: 620px;
}*/

#cabecalho .desktop #aplicativos-secundarios .aplicativo a,
#cabecalho .desktop #idiomas-secundarios .idioma a,
#cabecalho .desktop #sobre-secundarios .sobre a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 120px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: white;
}

#cabecalho #aplicativos-secundarios .aplicativo,
#cabecalho #idiomas-secundarios .idioma,
#cabecalho #sobre-secundarios .sobre {
    list-style: none;
}

#cabecalho #aplicativos-secundarios ul,
#cabecalho #idiomas-secundarios ul,
#cabecalho #sobre-secundarios ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cabecalho #aplicativos-secundarios ul li,
#cabecalho #idiomas-secundarios ul li,
#cabecalho #sobre-secundarios ul li {
    margin: 5px 0;
}

#cabecalho #aplicativos-secundarios ul li a,
#cabecalho #idiomas-secundarios ul li a,
#cabecalho #sobre-secundarios ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

#cabecalho .desktop #aplicativos-secundarios li a:hover,
#cabecalho .desktop #idiomas-secundarios li a:hover,
#cabecalho .desktop #sobre-secundarios li a:hover {
    background-color: #f2f7fc;
}

#cabecalho #aplicativos-secundarios li .icone,
#cabecalho #idiomas-secundarios li .icone,
#cabecalho #sobre-secundarios li .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

#cabecalho #aplicativos-secundarios li .texto,
#cabecalho #idiomas-secundarios li .texto,
#cabecalho #sobre-secundarios li .texto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho #aplicativos-secundarios li .seta,
#cabecalho #idiomas-secundarios li .seta,
#cabecalho #sobre-secundarios li .seta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

#cabecalho #aplicativos-secundarios li .icone img,
#cabecalho #aplicativos-secundarios li .seta img,
#cabecalho #idiomas-secundarios li .icone img,
#cabecalho #idiomas-secundarios li .seta img,
#cabecalho #sobre-secundarios li .icone img,
#cabecalho #sobre-secundarios li .seta img {
    width: 15px;
}

#cabecalho #aplicativos-secundarios li .texto p,
#cabecalho #idiomas-secundarios li .texto p,
#cabecalho #sobre-secundarios li .texto p {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

#cabecalho .mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eff1f2;
}

#cabecalho .mobile .mobile-line1 {
    padding: 20px;
}

#cabecalho .mobile .mobile-line1,
#cabecalho .mobile .mobile-line2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#cabecalho .mobile .mobile-line1 .logomarca,
#cabecalho .mobile .mobile-line1 .botoes {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#cabecalho .mobile .mobile-line1 .botoes{
    cursor: pointer;
    margin-right: 10px;
}

#cabecalho .mobile .mobile-line1 .logomarca img {
    width: 150px;
    cursor: pointer;
}

#cabecalho .mobile .mobile-line1 .botoes .botao-abrir img,
#cabecalho .mobile .mobile-line1 .botoes .botao-fechar img {
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho .mobile .mobile-line1 .botoes .botao-fechar img {
    display: none;
}

#cabecalho .mobile .mobile-line2 .navegacao {
    display: none;
    width: 100%;
    height: 100vh;
}

#cabecalho .mobile #aplicativos-secundarios ul, 
#cabecalho .mobile #idiomas-secundarios ul, 
#cabecalho .mobile #sobre-secundarios ul{
    height: 100vh;
    justify-content: start;
    background-color: #ffffff;
}

#cabecalho .mobile .mobile-line2 .navegacao ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#cabecalho .mobile .mobile-line2 .navegacao ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#cabecalho .mobile .mobile-line2 .navegacao ul li a:hover {
    background-color: #e2edf7;
}

#cabecalho .mobile .mobile-line2 .navegacao ul li a {
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

#cabecalho .mobile .mobile-line2 .navegacao ul li a .texto {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

#cabecalho .mobile .mobile-line2 .navegacao ul li a .icone img,
#cabecalho .mobile .mobile-line2 .navegacao ul li a .seta img {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-esquerda {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.col-direita {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}


#cabecalho .mobile #idiomas-secundarios,
#cabecalho .mobile #sobre-secundarios,
#cabecalho .mobile #aplicativos-secundarios {
    display: none;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

#cabecalho .mobile #aplicativos-secundarios li a:hover,
#cabecalho .mobile #idiomas-secundarios li a:hover,
#cabecalho .mobile #sobre-secundarios li a:hover {
    background-color: #f2f7fc;
}

#cabecalho .desktop #aplicativos-secundarios .aplicativo a,
#cabecalho .desktop #idiomas-secundarios .idioma a,
#cabecalho .desktop #sobre-secundarios .sobre a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 120px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: white;
}

@media (max-width: 767px) {
    #cabecalho .desktop{
        display: none;
    }

    #cabecalho .mobile #idiomas-secundarios {
        position: absolute;
        top: 80px;
    }

    #cabecalho .mobile #sobre-secundarios {
        position: absolute;
        top: 80px;
    }

    #cabecalho .mobile #aplicativos-secundarios {
        position: absolute;
        top: 80px;
    }

    #cabecalho .mobile #idiomas-secundarios,
    #cabecalho .mobile #sobre-secundarios,
    #cabecalho .mobile #aplicativos-secundarios {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 290px;
        border-radius: 15px;
        background-color: white;
        box-shadow: none;
    }

    #cabecalho #sobre-secundarios .sobre:hover,
    #cabecalho #aplicativos-secundarios .app:hover{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {
    #cabecalho .mobile{
        display: none;
    }
}